<div id="footer">
  <p class="description">Developed by Untaek, Sejun, Heeyeon.</p>
  <p class="description">Designed for senior project in Suwon Univ.</p>
  <p class="description">Github page: <a href="https://github.com/Untaek/graduate">https://github.com/Untaek/graduate</a></p>
</div>