<div class="topnav">
    <a href="/">소개창</a>
    <a href="/health">건강</a>
    <a href="/contact">질문사항</a>
    <a href="/about">환경설정</a>
    <a href="/new">처음이세요?</a>
    <a class="action">진행사항(발표)</a>
    <a href="/register">기기 등록</a>
</div>