<style>
  body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
  padding : 0px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

}


.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}


.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;

  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid pink;
  border-width: 10px 10px 10px;
  border-color: transparent transparent transparent pink;
}


.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px ;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
.timeline::after {
  left: 31px;
}

.container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
}

.container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.left::after, .right::after {
  left: 15px;
}

.right {
  left: 0%;
}
}
</style>
<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>일련번호는 어디에 있는건가요? </h2>
      <p>일련번호는 기계 뒷편에 자리하고 있습니다.</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>강아지의 스트레스양은 어떻게 측정되는건가요? </h2>
      <p>반려견의 소음을 감지하여 측정됩니다. 반려견의 짖는빈도를 그래프를 통해 쉽게 알 수 있습니다. </p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>강아지별로 적절한 밥의 양의 기준은 무엇인가요?</h2>
      <p>각 종의 강아지에 따른 몸무게에 맞는 밥의양을 센서데이터를 통해 데이터를 구한뒤 강아지에게 맞는 밥의 양을 찾아주고있습니다.^~^ </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>강아지케어시스템의 효과는 무엇인가요? </h2>
      <p>바쁜현대화시대에 반려견을 키우고 싶지만 여건이 안되는 분들에게 강아지의 건강을 고려하며 실시간으로 밥의양, 짖는빈도 등등을 직접 측정해주어 바쁜환경속에 강아지를 쉽게 케어할수있도록 도와주고있습니다.
      </p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>남은 사료의 양도 측정되는건가요? 물의 양도 나오나요? </h2>
      <p>네, 각 종의 강아지별로 건강에 맞는 사료의 양이 나오고 남은 사료의 양까지 같이 나옵니다. 물의 양도 마찬가지입니다.
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>이제 시작해볼까용^~^ ??&#10084; </h2>
      <p>
        <img src="dogmotion.gif" width="175" height="250" alt="사과" />
      </p>
    </div>
  </div>
</div>